#list-of-users {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    margin: 150px 0;
    padding: 0;
    list-style: none;
}

#list-of-users li {
    grid-column-end: span 2;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -50%;
}

#list-of-users li:nth-child(2n) {
    grid-column-start: 2;
}

#list-of-users li::before, #list-of-users li::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 50% 100%, 50% 100%;
    background-position: left, right;
}

.female::before {
    background-image: linear-gradient(-45deg, var(--pink) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--pink) 60%), linear-gradient(45deg, var(--pink) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--pink) 60%) !important;
}

.female::after {
    background-image: linear-gradient(45deg, var(--pink) 40%, var(--white) 40%), linear-gradient(-45deg, var(--pink) 40%, var(--white) 40%) !important;
}

#list-of-users li::before {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    background-repeat: no-repeat;
    background-image: linear-gradient(-45deg, var(--blue) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--blue) 60%), linear-gradient(45deg, var(--blue) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--blue) 60%);
}

#list-of-users li::after {
    clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
    -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, var(--blue) 40%, var(--white) 40%), linear-gradient(-45deg, var(--blue) 40%, var(--white) 40%);
}

#list-of-users img {
    position: absolute;
    width: 43%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
    transition-property: transform;
    transition-duration: .3s;
    cursor: pointer;
}

#list-of-users img:hover {
    transform: translateX(-40%) translateY(-70%) rotatez(25deg);
}

@media (min-width: 600px) {
    :root {
        --columns: 5;
    }

    #list-of-users li:nth-child(2n) {
        grid-column-start: auto;
    }

    #list-of-users li:nth-child(4n-1) {
        grid-column-start: 2;
    }
}

@media (min-width: 900px) {
    :root {
        --columns: 7;
    }

    #list-of-users li:nth-child(4n-1) {
        grid-column-start: auto;
    }

    #list-of-users li:nth-child(6n-2) {
        grid-column-start: 2;
    }
}

@media (min-width: 1200px) {
    :root {
        --columns: 9;
    }

    #list-of-users li:nth-child(6n-2) {
        grid-column-start: auto;
    }

    #list-of-users li:nth-child(8n-3) {
        grid-column-start: 2;
    }
}

@media (min-width: 1500px) {
    :root {
        --columns: 11;
    }

    #list-of-users li:nth-child(8n-3) {
        grid-column-start: auto;
    }

    #list-of-users li:nth-child(10n-4) {
        grid-column-start: 2;
    }
}

@media (min-width: 1800px) {
    :root {
        --columns: 13;
    }

    #list-of-users li:nth-child(10n-4) {
        grid-column-start: auto;
    }

    #list-of-users li:nth-child(12n-5) {
        grid-column-start: 2;
    }
}

@media (min-width: 2100px) {
    :root {
        --columns: 15;
    }

    #list-of-users li:nth-child(12n-5) {
        grid-column-start: auto;
    }

    #list-of-users li:nth-child(14n-6) {
        grid-column-start: 2;
    }
}