#chat {
    margin-left: 100px;
    position: relative;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 15fr 1fr;
}
#send-message {
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 10px;
}
#messages {
    overflow: scroll;
    overflow-x: auto;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 10px;
    padding: 10px 20px;
}

.my-msg {
    justify-self: end;
    background: #52B3A4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px 10px 0 10px;
    max-width: 50%;
}
.friend-msg {
    padding: 10px 20px;
    border-radius: 10px 10px 10px 0;
    background: #f3f3f3;
    justify-self: start;
    max-width: 50%;
}

#chat-user-info {
    text-align: center;
    border-bottom: 1px dashed #252B3B;
}