#registration {
    display: grid;
    margin-left: 100px;
    grid-template-columns: 1fr;
    text-align: center;
}

#registration form {
    display: grid;
    width: 40%;
    gap: 20px;
    justify-self: center;
}

#registration form input {
    padding: 10px;
    outline: none;
}

#registration form input:focus {
    box-shadow: #52B3A4 0 0 10px;
}